In [3]:
import pandas as pd

In [4]:
data_dict = {"a":[1,2,3], "b":[4,5,6]}
data_list = [{"a": 1,"b": 4}, {"a": 2, "b": 5}, {"a": 3, "b": 6}]

dat = pd.DataFrame(data_dict)
dat

   a  b
0  1  4
1  2  5
2  3  6

In [5]:
dat2 = pd.DataFrame(data_dict)
dat2

   a  b
0  1  4
1  2  5
2  3  6

In [6]:
dat.head(1)

   a  b
0  1  4

In [7]:
dat.tail(1)

   a  b
2  3  6

In [ ]:
dat["a"]

0    1
1    2
2    3
Name: a, dtype: int64

In [9]:
dat.loc[0]

a    1
b    4
Name: 0, dtype: int64

In [11]:
dat.iloc[0]

a    1
b    4
Name: 0, dtype: int64

In [13]:
len(dat.index)

3

In [15]:
len(dat.columns)

2

In [ ]:
dat[dat["a"] > 2]

   a  b
2  3  6

In [21]:
dat[dat["a"] > 2]["a"]

2    3
Name: a, dtype: int64

In [ ]:
dat

In [8]:
dat2.to_csv("dat2.csv")

What does the "write/render/evaluate" loop provide for creators of interactive data visualizations?

 The write/render/evaluate aides in the process of creating digital visualizations. Each step of the process allows the coder to change how the data is communicated. By using this process, you can manipulate digital visualizations by changing the mapping rules, seeing the chart's visual components, and evaluating where to change the visualization to fit your needs. 

Why are dynamic, interactive data visualizations useful when communicating data?

Dynamic and interactive data visualizations are more accessible to a variety of audiences. While static data visualizations cannot exactly get the point across and are used repeatedly to apply the same message, this makes the static visualization redundant. Dynamic data visualizations are used to create engagement with the viewer. 

Do you agree with Murray's claim that open-source tools that avoid proprietary software are best for publishing data visualization? In a few sentences, explain why you agree or disagree.

I would have to agree with Murray's statement regarding open-source materials that avoid proprietary software. While proprietary software can be used to create similar visualizations, there is a cost associated with using these platforms. Using an open source material is more accessible to your intended audience.